body{
  font-family: sans-serif;
  background-color: lightgrey;
}
.chart text{
    font-size: 11px;
  }
  .details {
    font-size: 12px;
    position: relative;
    padding: 10px;
    left: 100px;
    top: -550px;
    max-width: 150px;
    opacity: 0;
    text-align: left;
    border:1px solid black;
    background-color: #fff;
  }
.container{
  max-width: 850px;
  text-align: center;
  margin-left: 20%;
}
#app{
  background-color: lightgray;
}
